<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for @run, url: runs_path, method: :post do |f| %>
        <%= f.input :name %>
        <%= f.association :resort  %>
        <%= f.association :area %>
        <%= f.input :technic, collection: 1..6, as: :radio_buttons %>
        <%= f.input :physical, collection: 1..6, as: :radio_buttons %>
        <%= f.input :engagement %>
        <%= f.input :type %>
        <%= f.input :best_snow %>
        <%= f.input :best_time %>
        <%= f.input :expo %>
        <%= f.input :alt_start %>
        <%= f.input :alt_finish %>
        <%= f.input :description %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
